
<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

	<title></title>
</head>
<body>

<div layout:fragment="loginContent">

	<form name="login" th:action="@{/login}" method="post" class="form-signin">
		<h2 class="form-signin-heading">Please log in!</h2>
		<div id="err" th:if="${param.error}" class="alert alert-danger">Wrong username or password</div>
		<div th:if="${param.logout}" class="alert alert-success">You have sucessfully logged out</div>
		<label for="username" class="sr-only">Username</label> 
		<input type="text" id="username" name="username" class="form-control" placeholder="User name" required="true" /> 
		<label for="password" class="sr-only">password</label>
		<input type="password" id="password" name="password" class="form-control" placeholder="password" required="true" />
		<div class="checkbox">
			<label> <input id="remember-me" name="remember-me" type="checkbox" /> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	</form>

</div>

</body>
</html>