<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<title>Book store</title>

</head>

<body>

<div class="container">
	<h3><a th:href="@{/books}">Book store</a></h3>

	<hr>
	<a th:href="@{/books/showCreateForm}"
	   class="btn btn-outline-info btn-sm">
		Add new book
	</a>
	<table class="table table-bordered table-striped align-items-center table-hover">
		<thead class="">
			<tr>
				<th><a th:href="@{orderbytitle}">Title</a></th>
				<th ><a th:href="@{orderbyauthor}">Author</a></th>
				<th>Summary</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="i : ${list_of_books}">
				<td th:text="${i.title}" />
				<td th:text="${i.author}" />
				<td th:text="${i.summary}" />
				<td>
				<a th:href="@{/books/showUpdateForm(bookId=${i.id})}"
				   class="btn btn-outline-info btn-sm">
					Update
				</a>
				<a th:href="@{/books/showDeleteForm(bookId=${i.id})}"
				   class="btn btn-outline-info btn-sm">
					Delete
				</a>
				</td>

			</tr>
		</tbody>		
	</table>
	<!-- Add a logout button -->
	<form th:action="@{/logout}"  method="POST">

		<input type="submit" value="Logout" />

	</form>

</div>
</body>
</html>



