<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Delete Book</title>
</head>

<body>

	<div class="container">

		<h3>Book Store</h3>
		<hr>

		<p class="h4 mb-4">Are you sure you want to DELETE this book ?  </p>

		<p class="h4 mb-4">Clicking on DELETE will permanently delete this data. It cannot be undone ! </p>
		
		<table class="table table-bordered table-striped align-items-center table-hover">
			<tbody>
			<tr>
				<td>id</td><td  th:text="${book.id}"></td>
			</tr>
			<tr>
				<td>Title</td><td  th:text="${book.title}"></td>
			</tr>
			<tr>
				<td>Author</td><td  th:text="${book.author}"></td>
			</tr>
			<tr>
				<td>Summary</td><td  th:text="${book.summary}"></td>
			</tr>
				
			
			</tbody>
		
		
		</table>
		
		
		<form action="#" th:action="@{/books/delete}"
						 th:object="${book}" th:method="GET">

			<!-- Add hidden form field to handle update -->
			<input type="hidden"  th:field="*{id}" class="form-control mb-4 col-4" placeholder="Id"/>

			<input type="hidden"  th:field="*{author}"
					class="form-control mb-4 col-4" placeholder="Title">

			<input type="hidden"  th:field="*{title}"
					class="form-control mb-4 col-4" placeholder="Author">

			<input type="hidden"  th:field="*{summary}"
					class="form-control mb-4 col-4" placeholder="Summary">

			<button type="submit" class="btn btn-outline-danger col-2">Delete</button>

		</form>

		<hr>
		<a th:href="@{/templates/books}">Back to safety</a>


	</div>
</body>

</html>










